body {
  background-color:#555;
}

h1, h2, h3 {
  color:#fff;
}

h3 {
  font-size:2em;
}

p, ul, ol, li {
  color:#ddd;
}

img {
  width:100%;
}

a img {
  width:100%;
  max-width:400px;
}

.hero {
  position:relative;
  margin-bottom: 0rem;
  padding-bottom: 0em!important;
  background-color:#333;
  height:auto!important;
  box-sizing: border-box;
  z-index:4;
  /* box-shadow: 0px 0px 10px #222; */
}

.hero h2 {
	 font-size:2rem;
}

.nav {
  position:sticky;
  top:0px;
  margin-bottom: 5rem;
  padding-bottom: 0em!important;
  background-color:#333;
  height:auto!important;
  box-sizing: border-box;
  z-index:4;
  box-shadow: 0px 0px 10px #222;
}

.nav a {
  position:relative;
  font-size:1.5em;
  /* margin-right:2em; */
  text-decoration: none;
  /* border:3px black solid; */
  padding:0.5em 2em 0.5em 0em;
  box-sizing:border-box;
  display:inline-block;
}

/* Bigger than 0 */
@media (min-width: 0px) {
  .section {
    padding: 0 0 11rem;
  }
  .hero {
    padding: 1.5rem 0;
    text-align: left;
    height:auto!important;
  }
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 0 0 11rem;
  }
  .hero {
    padding: 2.5rem 0;
    text-align: left;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 0 0 15rem;
  }
  .hero {
    padding: 5rem 0;
  }
}