<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>elliscode Blog - Directory</title>
	<link href="../css/Raleway.css" rel="stylesheet" type="text/css" />
	<link href="../css/normalize.css" rel="stylesheet" type="text/css" />
	<link href="../css/skeleton.css" rel="stylesheet" type="text/css" />
	<link href="../css/stylesheet.css?v=003" rel="stylesheet" type="text/css" />

  <meta charset="utf-8" />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!--Favicon-->
  <link rel="shortcut icon" type="image/png" href="../images/favicon.png" />

</head>
<!-- https://gist.github.com/Bhupesh-V/34f2a7cb26c93d49621e7702b9497cac -->
<body>
  <div class="section hero">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>elliscode</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section nav">
    <div class="container">
        <a href="../index.html">Home</a>
        <a href="#">Blog</a>
        <a href="https://github.com/elliscode">Github</a>
    </div>
  </div>

  <div class="section">
    <div class="container">
{{ content | safe }}
    </div>
  </div>
</body>
</html>