<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>elliscode Blog - Directory</title>
  <link href="../css/Raleway.css" rel="stylesheet" type="text/css" />
  <link href="../css/stylesheet.css?v=005" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" type="image/png" href="../images/favicon.png" />
  <meta charset="utf-8" />
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="elliscode Blog" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.elliscode.com/blog/" />
  <meta property="og:image" content="https://www.elliscode.com/images/favicon_larger.png" />
</head>
<body>
  <div id="header">
    <h1>elliscode</h1>
  </div>

  <div id="nav">
    <div>
      <a href="../">Home</a>
      <a href="#">Blog</a>
      <a href="https://github.com/elliscode">Github</a>
    </div>
  </div>

  <div class="directory">
    <div>
{{ content | safe }}
    </div>
  </div>

</body>
</html>