body {
  background-color:#282828;
}

h1, h2, h3 {
  color:#fff;
}

h3 {
  font-size:2em;
}

p, ul, ol, li {
  color:#ddd;
}

a img {
  width:100%;
  max-width:400px;
}

figure a, figure a img {
  display:block;
  width:100%;
  max-width:100%;
}

.hero {
  position:relative;
  margin-bottom: 0rem;
  padding-bottom: 0em!important;
  background-color:#333;
  height:auto!important;
  box-sizing: border-box;
  z-index:4;
  /* box-shadow: 0px 0px 10px #222; */
}

.hero h2 {
	 font-size:2rem;
}

.nav {
  position:sticky;
  top:0px;
  margin-bottom: 5rem;
  padding-bottom: 0em!important;
  background-color:#333;
  height:auto!important;
  box-sizing: border-box;
  z-index:4;
  box-shadow: 0px 0px 10px #222;
}

.nav a {
  position:relative;
  font-size:1.5em;
  /* margin-right:2em; */
  text-decoration: none;
  /* border:3px black solid; */
  padding:0.5em 2em 0.5em 0em;
  box-sizing:border-box;
  display:inline-block;
}

pre, code {
  background-color: #111;
}

pre {
  border: 1px solid #666;
  /* padding-top: 30px; */
  border-radius:10px;
  /* background-image:url('../images/stoplight.svg'); */
  /* background-repeat:no-repeat; */
}

code {
  border: none;
  border-top: 1px solid #666;
  border-radius:0;
  color: #ccc;
  min-width: max-content;
}

p:has(> img:first-child) {
  border: 1px solid #666;
  /* padding-top: 30px; */
  border-radius:10px;
  overflow:hidden;
}

p > img {
  border: none;
  border-top: 1px solid #666;
  border-radius:0;
  display:block;
}

thead {
  color:white;
}
tbody {
  color:#ddd;
}

figure {
  margin: 0;
  margin-bottom: 20px;
}

figcaption {
  color:white;
  text-align:center;
}

/* Bigger than 0 */
@media (min-width: 0px) {
  .section {
    padding: 0px;
  }
  .hero {
    padding: 1.5rem 0;
    text-align: left;
    height:auto!important;
  }
  p, ul, ol {
    font-size: 14px;
  }
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 0px;
  }
  .hero {
    padding: 2.5rem 0;
    text-align: left;
  }
  p, ul, ol {
    font-size: 17px;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 0px;
  }
  .hero {
    padding: 5rem 0;
  }
  p, ul, ol {
    font-size: 20px;
  }
}